# FastAPI Backend
fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9

# Auth & Security
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.1

# Rate Limiting
slowapi==0.1.9

# Database - MongoDB
motor==3.4.0
pymongo==4.7.2
beanie==1.26.0

# Vector DB - Pinecone
pinecone-client==3.2.2

# Embeddings - Google Gemini
google-generativeai==0.7.2

# LLM - Groq
groq==0.9.0

# Document Processing
PyPDF2==3.0.1
python-docx==1.1.2
langchain-text-splitters==0.2.2



# Utilities
pydantic==2.7.1
pydantic-settings==2.3.0
aiofiles==23.2.1
tiktoken==0.7.0
